{% extends "base.html" %}

{% block title %}
{{ programme.title }}
{% endblock %}

{% block main_content %}

<h1>{{ programme.title }}</h1>

<div class="detail-container">

    <div class="detail-image">
        {% if programme.image %}
            <img src="{{ programme.image.url }}" alt="{{ programme.title }}">
        {% endif %}
    </div>

    <div class="detail-info">
        <p><strong>Genre:</strong> {{ programme.genre }}</p>
        <p><strong>Release Year:</strong> {{ programme.release_year }}</p>
        <p><strong>Description:</strong> {{ programme.description }}</p>
    </div>

</div>

<a href="/programmes/">Back to programmes</a>

{% endblock %}