{% extends "base.html" %}

{% block title %}
TV Programmes
{% endblock %}

{% block main_content %}
<h1>My Favourite TV Programmes</h1>

{% if programmes %}
<table border="1" cellpadding="8">
    <tr>
        <th>Poster</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Release Year</th>
        <th>Description</th>
    </tr>
    {% for programme in programmes %}
    <tr>
        <td>
            {% if programme.image %}
                <img src="{{ programme.image.url }}" alt="{{ programme.title }}" class="table-image">
            {% endif %}
        </td>
        <td>
            <a href="{% url 'programme_detail' programme.id %}">{{ programme.title }}</a>
        </td>
        <td>{{ programme.genre }}</td>
        <td>{{ programme.release_year }}</td>
        <td>{{ programme.description }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No programmes have been added yet.</p>
{% endif %}
{% endblock %}