{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        TV Programmes Site
        {% endblock %}
    </title>

    <!-- Link to CSS -->
    <link href="{% static 'main.css' %}" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav>
        <a href="/">Home</a> |
        <a href="/programmes/">Programmes</a>
    </nav>

    <hr>

    <!-- Page content -->
    {% block main_content %}
    <h1>Welcome to my TV Programmes website</h1>
    <p>This is the homepage.</p>
    {% endblock %}

</body>
</html>