{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        TV Programmes Site
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/programmes/">Programmes</a>
    </nav>

    <hr>

    {% block main_content %}
    <h1>Welcome to my TV Programmes website</h1>
    <p>This website is about some of my favourite character-driven and dramatic TV programmes.</p>
    {% endblock %}
</body>
</html>